body {
    --text-primary: rgba(0, 0, 0, 0.87);
    --text-secondary: rgba(0, 0, 0, 0.6);
    --background: #fff;
    --background-hover: rgba(0, 0, 0, 0.04);
    --divider: rgba(0, 0, 0, 0.12);

    --theme-insights-event-subscription-secondary: #e65100;
    --theme-insights-event-subscription-primary: #e65100;
    --theme-insights-event-next-secondary: #43a047;
    --theme-insights-event-next-primary: #1b5e20;
    --theme-insights-event-error-secondary: #e53935;
    --theme-insights-event-error-primary: #b71c1c;
    --theme-insights-event-complete-secondary: #039be5;
    --theme-insights-event-complete-primary: #01579b;

    --theme-insights-subscriber-secondary: #ab47bc;
    --theme-insights-subscriber-primary: #8e24aa;
    --theme-insights-observable-secondary: #42a5f5;
    --theme-insights-observable-primary: #1e88e5;

    --theme-inspector-secondary: rgba(255, 255, 255, 0.7);
}

body.theme-dark {
    --text-primary: #fff;
    --text-secondary: rgba(255, 255, 255, 0.7);
    --background: #121212;
    --background-hover: rgba(255, 255, 255, 0.08);
    --divider: rgba(255, 255, 255, 0.12);

    --theme-insights-event-subscription-secondary: #f57c00;
    --theme-insights-event-subscription-primary: #f57c00;
    --theme-insights-event-next-secondary: #66bb6a;
    --theme-insights-event-next-primary: #388e3c;
    --theme-insights-event-error-secondary: #ef5350;
    --theme-insights-event-error-primary: #d32f2f;
    --theme-insights-event-complete-secondary: #29b6f6;
    --theme-insights-event-complete-primary: #0288d1;

    --theme-insights-subscriber-secondary: #ce93d8;
    --theme-insights-subscriber-primary: #ab47bc;
    --theme-insights-observable-secondary: #90caf9;
    --theme-insights-observable-primary: #42a5f5;

    --theme-inspector-secondary: rgba(255, 255, 255, 0.7);

    color-scheme: dark;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: var(--text-primary);
    background-color: var(--background);
    font-family: Monospace monospace;
    font-style: oblique;
    font-size: 12px;
}

.frame {
    display: grid;
    grid-template-columns: max-content max-content auto min-content;
    gap: 4px;
    padding: 2px 20px;
    cursor: default;
}

.event.subscribe {
    color: var(--theme-insights-event-subscription-secondary);
}

.event.subscribe:before {
    content: "⤽ ";
    color: var(--theme-insights-event-subscription-primary);
}

.event.unsubscribe {
    color: var(--theme-insights-event-subscription-secondary);
}

.event.unsubscribe:before {
    content: '"⤼ "';
    color: var(--theme-insights-event-subscription-primary);
}

.event.next {
    color: var(--theme-insights-event-next-secondary);
}

.event.next:before {
    content: "↷ ";
    color: var(--theme-insights-event-next-primary);
}

.event.error {
    color: var(--theme-insights-event-error-secondary),
}

.event.error:before {
    content: "↷ ";
    color: var(--theme-insights-event-error-primary);
}

.event.complete {
    color: var(--theme-insights-event-complete-secondary);
}

.event.complete:before {
    content: "↷ ";
    color: var(--theme-insights-event-complete-primary);
}

.event:before {
    display: inline;
    font-weight: 900;
}

.event:after {
    display: inline;
    content: " @" attr(data-time);
    color: var(--theme-inspector-secondary);
}

.target.subscriber {
    color: var(--theme-insights-subscriber-secondary);
}

.target.subscriber:before {
    display: inline;
    content: "⊙ ";
    font-weight: 900;
    color: var(--theme-insights-subscriber-primary);
}

.target.subscriber:after {
    display: inline;
    content: " " attr(data-tags) "#" attr(data-id);
    color: var(--theme-inspector-secondary);
}

.target.observable {
    color: var(--theme-insights-observable-secondary);
}

.target.observable:before {
    display: inline;
    content: "⊚ ";
    font-weight: 900;
    color: var(--theme-insights-observable-primary);
}

.target.observable:after {
    display: inline;
    content: " " attr(data-tags) "#" attr(data-id);
    color: var(--theme-inspector-secondary);
}

.location {
    color: var(--text-secondary);
    justify-self: end;
}

.label {
    color: var(--text-secondary);
    grid-column: 1/-1;
    text-align: center;
    padding: 4px 2px;
}

.frame, .label {
    border-bottom: 1px var(--divider) solid;
}

.frame {
    cursor: pointer;
}

.open {
    display: inline-flex;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.open:hover {
    background-color: var(--background-hover);
}

.open:after {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2zm0 15-5-2.18L7 18V5h10v13z"></path></svg>');
    background-color: var(--text-primary);
}
